.lgbox{position:fixed;top:25%;right:5px;z-index:100;background-color:rgb(255,255,255,0.3);padding:5px;border-radius:5px;color:#000000;width:60px;text-align:center;}
.lglist {cursor:pointer;padding:3px;color:#00a9e5;font-size:14px;font-weight:bold;} 
.lgsel {color:#ff0000;} 
.tscolor {color:green;}
.helpdocdesc {color:red;font-size:8px;}

caption {
	white-space:initial !important;
}
.module-signature, .package-signature, .type-signature, .member-signature {
	white-space:initial !important;
}
